<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Planificación de Curso</strong>
        <div class="card-header-actions">
          <a class="card-header-action btn-setting" href="#">
            <i class="icon-settings"></i>A
          </a>
        </div>
      </div>
      <div class="collapse show">
        <div class="card-body">
          <CourseForm @course={{model}}
                      @submitAction={{action "save"}}
                      @searchAction={{action "search"}}
                      @addAction={{action "add" "course-concept"}}
                      @deleteAction={{action "delete"}}
          />
        </div>
      </div>
    </div>
  </div>
</div>