{{set-body-class "flex-row align-items-center"}}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card-group">
      <div class="card p-4">
        <div class="card-body">
          <form {{action "authenticate" on="submit"}}>
            <h1>Login</h1>
            {{#if errorMessage}}
              <p class="text-danger">{{errorMessage}}</p>
            {{/if}}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">{{fa-icon "user"}}</span>
              </div>
              {{input id="email" placeholder="Correo electrónico" class="form-control" value=email autofocus="autofocus" }}
            </div>
            <button class="btn btn-block btn-primary mb-4" type="submit">Solicitar nueva contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>